In [6]:
import pandas as pd

In [7]:
import numpy as np

In [8]:
df = pd.read_csv("train (3).csv")

In [9]:
pd.DataFrame(df)

,State_Code,Account_Length_Months,Area_Code,Intl_Plan,VM_Plan,VM_Messages,Avg_Day_Minutes,Avg_Day_Calls,Avg_Day_Charge,Avg_Eve_Minutes,Avg_Eve_Calls,Avg_Eve_Charge,Avg_Night_Minutes,Avg_Night_Calls,Avg_Night_Charge,Avg_Intl_Minutes,Avg_Intl_Calls,Avg_Intl_Charge,Customer_Service_Calls,Churn
0,MI,36,510,0,0,0,193.08,88,35.56,228.34,109,26.68,200.51,126,10.03,12.54,6,3.27,1,0
1,TN,16,510,0,0,0,165.62,69,30.50,246.13,95,28.76,150.08,99,7.51,12.30,9,3.21,1,0
2,DC,99,415,0,0,0,216.22,70,39.83,115.62,110,13.51,236.66,87,11.84,13.11,2,3.42,3,0
3,WY,159,510,0,0,0,182.16,85,33.56,218.48,126,25.54,201.62,133,10.08,9.32,2,2.43,1,0
4,NJ,77,510,0,0,0,134.16,98,24.72,230.27,139,26.92,244.35,140,12.22,15.76,3,4.11,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3462,VA,117,415,0,1,38,280.32,100,51.63,263.17,75,30.77,272.71,132,13.64,10.58,1,2.76,3,0
3463,MI,110,415,1,0,0,317.08,84,58.40,201.98,95,23.61,270.28,96,13.52,16.68,4,4.36,0,1
3464,IN,136,415,0,1,21,193.95,93,35.73,194.05,103,22.68,324.76,127,16.24,10.92,4,2.86,2,0
3465,KY,93,415,0,1,37,249.08,101,45.88,166.62,94,19.48,181.27,95,9.07,11.96,10,3.12,3,0
3466,WA,158,510,0,0,0,190.16,111,35.02,201.77,93,23.59,190.68,104,9.53,12.65,7,3.30,1,0